<main class="col-xs-10 col-xs-offset-1 m-t-20">
  <div class="row text-center" *ngIf="currentView !== 'login'" >
      <button type="button" class="btn btn-success btn-xs" (click)="changeView('products')">Produkty</button>
      <button type="button" class="btn btn-success btn-xs" (click)="changeView('orders')">Zamowienia</button>
  </div>

  <div class="row" *ngIf="currentView === 'login'">
    <app-login (changeViewEvent)="changeViewEvent($event)" (loginEvent)="loginEvent($event)"></app-login>
  </div>

  <div class="row" *ngIf="currentView === 'products'">
    <app-products [token]="token" (changeViewEvent)="changeViewEvent($event)"></app-products>
  </div>

  <div class="row" *ngIf="currentView === 'orders'">
    <div class="row m-t-20">
      <div class="col-xs-2 col-xs-offset-2">
        Imię:
      </div>
      <div class="col-xs-2">
        Nazwisko:
      </div>
      <div class="col-xs-2">
        Wartość:
      </div>
    </div>
    <app-orders [token]="token" (changeViewEvent)="changeViewEvent($event)"></app-orders>
  </div>
</main>
