<div class="row">
  <div class="col-xs-10">
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
  </div>
  <div class="col-xs-2 text-center">
    <span class="label label-info">{{ product.price | currency }}</span>
    <button type="button" class="btn btn-primary btn-xs m-t-6" (click) = "addProductToCart(product)">Dodaj do koszyka</button>
  </div>
</div>
