<div *ngFor="let order of orders;" class="m-t-20">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-2">
      {{ order.name }}
    </div>
    <div class="col-xs-2">
      {{ order.surname }}
    </div>
    <div class="col-xs-2">
      {{  getValueOfOrder(order) }}
    </div>
    <div class="col-xs-2">
      <button type="button" class="btn btn-success navbar-btn btn-xs" (click)="showDetails(order)">Szczegóły</button>
    </div>
  </div>
  <div class="row" *ngIf="order._id === detailOfOrder">
    <div class="col-xs-8 col-xs-offset-2">
      <table class="table">
        <thead>
        <tr>
          <th>Nazwa</th>
          <th>Ilość</th>
          <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of order.products;" >
          <td>{{ p.product.name }} </td>
          <td>{{ p['amount'] }} </td>
          <td>{{ p.product.price }} </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
