<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sklep sportowy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
        <!--<li><a href="#">Link</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Koszyk: {{ numberOfProductsInCart }} {{ valueOfProductsInCart | currency }}</a></li>
        <li>
          <button [disabled]="numberOfProductsInCart == 0" type="button" class="btn btn-success navbar-btn btn-xs" (click)="changeView('cart')">Złóż zamówienie</button>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<main class="col-xs-10 col-xs-offset-1">
  <div class="row" *ngIf="currentView === 'app'">
    <div class="col-sm-2">
      <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-default category-button" (click)="changeCategory('')">Strona główna</button>
        <button type="button" class="btn btn-default category-button" (click)="changeCategory('Sporty wodne')">Sporty wodne</button>
        <button type="button" class="btn btn-default category-button" (click)="changeCategory('Piłka nożna')">Piłka nożna</button>
        <button type="button" class="btn btn-default category-button" (click)="changeCategory('Sporty rowerowe')">Sporty rowerowe</button>
      </div>
    </div>
    <div class="col-sm-10">
      <div *ngFor="let product of products" class="product-wrapper">
        <product [product]="product" (addProductToCartEvent) = "addProductToCartEvent($event)"></product>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="currentView === 'cart'">
    <app-cart [productsInCart]="getProductsFromCart()" (deleteProductFromCartEvent)="deleteProductFromCartEvent($event)"
    (changeViewEvent)="changeViewEvent($event)"></app-cart>
  </div>

  <div class="row" *ngIf="currentView === 'order'">
    <app-order-form [products]="getProductsFromCart()" (orderEvent)="orderEvent()"></app-order-form>
  </div>



</main>
