{{diagnostic}}
<form #orderForm="ngForm" (ngSubmit)="onSubmit()" class="col-xs-6 col-xs-offset-2">
  <h4>Odbiorca</h4>
  <div class="form-group">
    <label for="name">Imię:</label>
    <input type="text" class="form-control" id="name"
           [(ngModel)]="model.name" name="name" required
           #name="ngModel">
  </div>
  <div [hidden]="name.valid || name.pristine"
       class="alert alert-danger">
    Pole imię jest wymagane
  </div>
  <div class="form-group">
    <label for="surname">Nazwisko:</label>
    <input type="text" class="form-control" id="surname"
           [(ngModel)]="model.surname" name="surname" required
           #surname="ngModel">
  </div>
  <div [hidden]="surname.valid || surname.pristine"
       class="alert alert-danger">
    Pole nazwisko jest wymagane
  </div>
  <h4>Adres</h4>
  <div class="form-group">
    <label for="street">Nazwa ulicy:</label>
    <input type="text" class="form-control" id="street"
           [(ngModel)]="model.street" name="street" required
           #street="ngModel">
  </div>
  <div [hidden]="street.valid || street.pristine"
       class="alert alert-danger">
    Pole nazwa ulicy jest wymagane
  </div>
  <div class="form-group">
    <label for="houseNumber">Numer domu:</label>
    <input type="number" class="form-control" id="houseNumber"
           [(ngModel)]="model.houseNumber" name="houseNumber" required
           #houseNumber="ngModel">
  </div>
  <div [hidden]="houseNumber.valid || houseNumber.pristine"
       class="alert alert-danger">
    Pole numer domu jest wymagane
  </div>
  <div class="form-group">
    <label for="apartmentNumber">Numer mieszkania (opcjonalnie):</label>
    <input type="number" class="form-control" id="apartmentNumber"
           [(ngModel)]="model.apartmentNumber" name="apartmentNumber">
  </div>
  <div class="form-group">
    <label for="postCode">Kod pocztowy:</label>
    <input type="text" class="form-control" id="postCode"
           [(ngModel)]="model.postCode" name="postCode" required
           #postCode="ngModel">
  </div>
  <div [hidden]="postCode.valid || postCode.pristine"
       class="alert alert-danger">
    Pole kod pocztowy jest wymagane
  </div>
  <button [disabled]="!orderForm.form.valid" type="submit" class="btn btn-success btn-xs">Dokończ zamówienie</button>
</form>
