<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Kategoria</th>
      <th>Cena</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i=index" >
      <td>
        <input type="text" class="form-control"
                 [(ngModel)]="products[i].name" name="name" required>
      </td>
      <td>
        <input type="text" class="form-control"
               [(ngModel)]="products[i].description" name="description" required>
      </td>
      <td>
        <input type="text" class="form-control"
               [(ngModel)]="products[i].category" name="category" required>
      </td>
      <td>
        <input type="text" class="form-control"
               [(ngModel)]="products[i].price" name="price" required>
      </td>
      <td>
        <button type="button" class="btn btn-success navbar-btn btn-xs" (click)="editProduct(product)">Zapisz</button>
        <button type="button" class="btn btn-danger navbar-btn btn-xs" (click)="deleteProduct(product)">Usuń</button>
      </td>
    </tr>
  </tbody>
</table>
