<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-xs-6 col-xs-offset-2">
  <div class="form-group">
    <label for="username">Nazwa użytkownika:</label>
    <input type="text" class="form-control" id="username"
           [(ngModel)]="model.username" name="username" required
           #username="ngModel">
  </div>
  <div [hidden]="username.valid || username.pristine"
       class="alert alert-danger">
    Pole nazwa użytkownika jest wymagane
  </div>
  <div class="form-group">
    <label for="password">Hasło:</label>
    <input type="password" class="form-control" id="password"
           [(ngModel)]="model.password" name="password" required
           #password="ngModel">
  </div>
  <div [hidden]="password.valid || password.pristine"
       class="alert alert-danger">
    Pole hasło jest wymagane
  </div>
  <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-success btn-xs">Zaloguj się</button>
</form>
