<div class="panel panel-default col-xs-6 col-xs-offset-2 quiz-result-wrapper p-0">
  <div class="panel-heading">Twój koszyk na zakupy:</div>
  <div class="panel-body">
    <table class="table">
      <thead>
      <tr>
        <th>Ilość</th>
        <th>Produkt:</th>
        <th>Cena:</th>
        <th>Wartość:</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartElement of productsInCart">
          <td>{{ cartElement.amount }}</td>
          <td>{{ cartElement.product.name }}</td>
          <td>{{ cartElement.product.price }}</td>
          <td>{{ cartElement.product.price * cartElement.amount }}</td>
          <td>
            <button type="button" class="btn btn-danger btn-xs" (click)="deleteProductFromCart(cartElement.product)">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-center">
    <button type="button" class="btn btn-success navbar-btn btn-xs" (click)="changeView('app')">Kontynuuj zakupy</button>
    <button [disabled]="productsInCart.length == 0" type="button" class="btn btn-success navbar-btn btn-xs" (click)="changeView('order')">Złóż zamówienie</button>
  </div>

</div>
